#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 .75em #ffd56aaa);
}

.button:hover {
  filter: drop-shadow(0 0 .75em #fdff6eea)
}